<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

 
<center><h2 style="font-size:2em;color:#840700">   Caso de estudio: Ventas </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/ventas.jpg" align="left" style="width:400px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1:

Nombre 2:

### Ejercicio

Utilzar los archivos "datos/ventas/*.txt" para contestar las siguientes preguntas. A continuación el código propuesto para obtener el dataframe:

```python
files = glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df=df[df['Quantity Ordered']!='Quantity Ordered'] 
```

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [25]:
files = glob('datos/Ventas/*.txt')
df =  pd.concat((pd.read_csv(file) for file in files))
df=df.dropna(axis='rows',how='any')
df = df[df['Quantity Ordered'] != 'Quantity Ordered']

<div class="alert alert-success">
    
0. Explicar que hace el código de arriba
    
</div>

En la primera linea de código estamos guardando en la variable _files_ una lista de archivos txt encontrados en la ruta _datos/Ventas/_, para que esta primera linea de código funcione tal cual esta propuesto, no se importa toda la libreria glob, sino simplemente importamos la función glob como se muestra a continuación: _from glob import glob_

En la segunda linea de código lo que se está haciendo es crear un dataframe, el cual es el resultado de concatenar cada uno de los archivos que se encuentran en la lista _files_, para lograrlo dentro de la función _pd.concat()_ se coloca un ciclo _for_ el cual ira recorrriendo cada archivo encontrado en _files_, entonces cada una de las iteraciones se irán concatenando para finalmente guardarlo en la variable _df_.

En la tercera linea de código lo que se esta haciendo es descartar valores nulos en aquellas filas que contengan al menos un valor nulo.

En la cuarta linea de código finalmete hacemos un filtrado, debido a que en la columna _Quantity Ordered_ hay valores no numéricos que estorban a lo hora de hacer un análisis con esos datos, entonces, para hacer el filtro primero se crea una máscara que nos ayude a identificar mediante booleanos si el valor de cada una de las filas de esa columna es diferente a _'Quantity Ordered'_, posteriormente aplico la máscara al dataframe, y asi obtengo un dataframe ya filtrado.

<div class="alert alert-success">
    
1. Encuentre el número de productos que se adquirieron en Los Angeles, CA
    
</div>

In [26]:
# Visualizando los primeros datos para ver la estructura del archivo
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [27]:
# Verificando que tipo de datos hay en cada columna
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [28]:
# Cambiando las columna 'Quantity Ordered' y 'Price Each' por tipos numéricos
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])
# Visualizando tipos de datos
df.dtypes

Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [29]:
# Función para obtener solo las filas que en 'Purchase Adress' contienen la cadena: 'Los Angeles, CA'
def comprobando_address(datos):
    return 'Los Angeles, CA' in datos
productos_los_angeles = df[df['Purchase Address'].apply(comprobando_address) == True]
productos_los_angeles.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
11,176567,Google Phone,1,600.00,04/18/19 17:18,"444 7th St, Los Angeles, CA 90001"
18,176574,Google Phone,1,600.00,04/03/19 19:42,"20 Hill St, Los Angeles, CA 90001"

In [30]:
# Número de productos que se adquirieron en Los Angeles, CA
productos_los_angeles['Quantity Ordered'].sum()

33289

<div class="alert alert-success">
    
2. ¿Cuántos iPhone se vendieron?

    
</div>

In [31]:
# Creando dataframe en la cual solo se visualizan productos ¡Phone
df_iPhone = df[df['Product'] == 'iPhone']
df_iPhone.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
26,176581,iPhone,1,700.0,04/09/19 21:38,"84 Jackson St, Boston, MA 02215"
55,176608,iPhone,1,700.0,04/11/19 12:01,"15 Cherry St, San Francisco, CA 94016"
98,176651,iPhone,1,700.0,04/07/19 13:14,"997 South St, Boston, MA 02215"
146,176696,iPhone,1,700.0,04/07/19 12:41,"343 Johnson St, New York City, NY 10001"
182,176732,iPhone,1,700.0,04/23/19 09:33,"504 Wilson St, Dallas, TX 75001"

In [32]:
# Número de ¡Phone que se vendieron
df_iPhone['Quantity Ordered'].sum()

6849

<div class="alert alert-success">
    
3. ¿Cuánto fue su ganancia por venta de baterías? 
    
</div>

In [33]:
# Visualizamos la lista de productos que hay en el dataframe, observando que hay dos tipos de baterías
df['Product'].unique()

array(['USB-C Charging Cable', 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor'],
      dtype=object)

In [34]:
# Creando máscara y aplicandola al dataframe para obtener solo productos de baterías.
df_baterias = df[(df['Product'] == 'AA Batteries (4-pack)') | (df['Product'] == 'AAA Batteries (4-pack)')]
df_baterias.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001"
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001"
24,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001"
28,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035"
32,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016"

In [35]:
# Creando una copia del dataframe df_baterias para hacer modificaciones.
df_baterias = df_baterias.copy()
# Creando y agregando una columna (Precio Total) al dataframe df_baterias
# que es resultado de multiplicar el cantidad ordenada por el precio por unidad.
df_baterias['Price Total'] = df_baterias['Quantity Ordered'] * df_baterias['Price Each']
df_baterias.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Price Total
14,176570,AA Batteries (4-pack),1,3.84,04/22/19 15:09,"186 12th St, Dallas, TX 75001",3.84
20,176575,AAA Batteries (4-pack),1,2.99,04/27/19 00:30,"433 Hill St, New York City, NY 10001",2.99
24,176579,AA Batteries (4-pack),1,3.84,04/11/19 10:23,"886 Jefferson St, New York City, NY 10001",3.84
28,176583,AAA Batteries (4-pack),2,2.99,04/20/19 12:00,"146 Jackson St, Portland, OR 97035",5.98
32,176586,AAA Batteries (4-pack),2,2.99,04/10/19 17:00,"365 Center St, San Francisco, CA 94016",5.98

In [36]:
# Ganancia por venta de baterías
df_baterias['Price Total'].sum()

198859.23

<div class="alert alert-success">
    
4. ¿Cuál fue el código postal que más ordenes realizó?

    
</div>

In [37]:
# funcion para separar la cadena en 'Purchase Address' y retornar solo el código postal
def codigo_postal(datos):
    return datos.split(' ')[-1]

# Aplicando función código_postal, obteniendo el número de repeticiones y obteniendo la etiqueta que mas veces se repitio
df['Purchase Address'].apply(codigo_postal).value_counts().idxmax()

'94016'

<div class="alert alert-success">
    
5.  a) ¿Cuál fue el producto con más ganancias?
    
    b) ¿Cuál fue el producto con más unidades vendidas?

    
</div>

In [38]:
# Agregando columna 'Price Total' al dataframe df
df['Price Total'] = df['Quantity Ordered'] * df['Price Each']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Price Total
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99

In [39]:
# a) ¿Cuál fue el producto con más ganancias?
df.groupby('Product')['Price Total'].sum().idxmax()

'Macbook Pro Laptop'

In [40]:
# b) ¿Cuál fue el producto con más unidades vendidas?
df.groupby('Product')['Quantity Ordered'].sum().idxmax()

'AAA Batteries (4-pack)'

<div class="alert alert-success">
    
6. ¿Cuales son los 5 productos más vendidos?     
</div>

In [41]:
df.groupby('Product')['Quantity Ordered'].sum().sort_values(ascending = False).head(5)

Product
AAA Batteries (4-pack)      31017
AA Batteries (4-pack)       27635
USB-C Charging Cable        23975
Lightning Charging Cable    23217
Wired Headphones            20557
Name: Quantity Ordered, dtype: int64

<div class="alert alert-success">
    
7.  ¿Cuales son los 5 productos con las ganancias más altas?

    
</div>

In [42]:
df.groupby('Product')['Price Total'].sum().sort_values(ascending = False).head(5)

Product
Macbook Pro Laptop        8037600.00
iPhone                    4794300.00
ThinkPad Laptop           4129958.70
Google Phone              3319200.00
27in 4K Gaming Monitor    2435097.56
Name: Price Total, dtype: float64

<div class="alert alert-success">
    
8. ¿A qué hora recomendaría mostrar anuncios para maximizar la probabilidad de que el cliente compre un producto?     
</div>

In [43]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Price Total
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99

In [44]:
# Transformando la columna 'Order Date' a tipo datetime64[ns]
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.dtypes

Order ID                    object
Product                     object
Quantity Ordered             int64
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
Price Total                float64
dtype: object

In [45]:
# Agregando columna 'Order Date Hour' la cual solo nos indicara el entero de la hora a la que se ordeno el producto
df['Order Date Hour'] = df['Order Date'].dt.hour
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Price Total,Order Date Hour
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",23.90,8
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",99.99,22
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",600.00,14
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",11.99,14
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",11.99,9

In [63]:
# Agrupando dataframe por hora, sumando la cantidad de ordenes y guardando la etiqueta con más ordenes
hora_con_mas_ordenes = df.groupby('Order Date Hour')['Quantity Ordered'].sum()

print(f'''---------------------------------------
Hora recomendada para mostrar anuncios
---------------------------------------
A partir de las {hora_con_mas_ordenes.idxmax()}:00 horas
---------------------------------------''')

---------------------------------------
Hora recomendada para mostrar anuncios
---------------------------------------
A partir de las 19:00 horas
---------------------------------------

<div class="alert alert-success">
    
 9. 
    a) ¿Cuál es el día de más ganancias por cada mes?
    
    b) ¿Cuál es el mes con más ganancias y el de menos ganancias?
    
</div>

In [47]:
# Colocando la columna 'Order Date' como indice
df = df.set_index('Order Date')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Price Total,Order Date Hour
Order Date,,,,,,,
2019-04-19 08:46:00,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",23.90,8
2019-04-07 22:30:00,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",99.99,22
2019-04-12 14:38:00,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",600.00,14
2019-04-12 14:38:00,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",11.99,14
2019-04-30 09:27:00,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",11.99,9

In [48]:
#Agrupando por días y sumando el precio total
dias_suma = df.resample('D')['Price Total'].sum()

In [49]:
# Creando lista vacia
fechas = []
# Ciclo para encontrar el dia con mayor ganancios por cada mes.
# El for externo abarca los años 2019, 2020
for year in range(2019, 2021):
    # Ciclo para recorrer cada uno de los meses
    for month in range(1, 13):
        # Formato de la fecha
        fecha = f'{year}-{month}' 
        # Encontrando la fecha con mayor ganancias 
        fecha_max = dias_suma[fecha].sort_values(ascending = False).head(1).index.date[0]
        # Guardando ganancia de la fecha con mayor ganancias
        ganancia_max = dias_suma[fecha].sort_values(ascending = False).head(1)[0]
        # Agregando una lista con fecha y ganancia encontradas a la lista creada anteriormente "fechas"
        fechas.append(list([fecha_max, ganancia_max]))
        # Como en los datos solo llega hasta '2020-01' agregamos un limitador que nos permite salir del ciclo
        # cuando el año es '2020' y el mes es mayor a cero
        if (year == 2020) & (month > 0):
            break
# Creando dataframe con los resultados obtenidos en el ciclo
fechas_ganancias = pd.DataFrame(fechas, columns=['Fecha', 'Ganancia'])
# Transformando la columna 'Fecha' a tipo datetime64[ns]
fechas_ganancias['Fecha'] = pd.to_datetime(fechas_ganancias['Fecha'])
# Colocando 'Fecha' como indice
fechas_ganancias = fechas_ganancias.set_index('Fecha')

In [50]:
# Creando dataframe para visualizar mejor la información requerida en este inciso
df_diamax_por_mes = pd.DataFrame({'Día': fechas_ganancias.index.day, 'Mes': fechas_ganancias.index.month_name(), 
                                  'Año': fechas_ganancias.index.year, 'Ganancias': fechas_ganancias['Ganancia']})

# a) ¿Cuál es el día de más ganancias por cada mes?
df_diamax_por_mes

            Día        Mes   Año  Ganancias
Fecha
2019-01-11   11    January  2019   78414.54
2019-02-08    8   February  2019   94507.13
2019-03-22   22      March  2019  102992.11
2019-04-24   24      April  2019  136177.32
2019-05-26   26        May  2019  113490.20
2019-06-09    9       June  2019   99484.39
2019-07-21   21       July  2019  104283.77
2019-08-10   10     August  2019   95160.63
2019-09-09    9  September  2019   79465.82
2019-10-06    6    October  2019  134384.92
2019-11-24   24   November  2019  130244.50
2019-12-04    4   December  2019  166727.69
2020-01-01    1    January  2020    8670.29

In [51]:
# b) ¿Cuál es el mes con más ganancias y el de menos ganancias?
mes_max_ganancias = df.resample('M')['Price Total'].sum().idxmax()
mes_min_ganancias = df.resample('M')['Price Total'].sum().idxmin()

print(f'''
-------------------------------------
- Mes con mas ganancias: {mes_max_ganancias.month_name()} {mes_max_ganancias.year}
- Mes con menos ganancias: {mes_min_ganancias.month_name()} {mes_min_ganancias.year}
-------------------------------------
''')

-------------------------------------
- Mes con mas ganancias: December 2019
- Mes con menos ganancias: January 2020
-------------------------------------

<div class="alert alert-success">
    
10. ¿Cuál fue el producto más comprado en San Francisco, CA
    
</div>

In [52]:
# Función para comprobar si en 'Purchase Address' se encuentra 'San Francisco, CA'.
def comprobando_address(datos):
    return 'San Francisco, CA' in datos

# Creando dataframe visualizar solo productos en San Francisco
# Aplicando la función comprobando_address y usar los resultados para crear una mascara que se aplicara al dataframe df
productos_san_francisco = df[df['Purchase Address'].apply(comprobando_address) == True]
productos_san_francisco.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Price Total,Order Date Hour
Order Date,,,,,,,
2019-04-29 13:03:00,176562,USB-C Charging Cable,1,11.95,"381 Wilson St, San Francisco, CA 94016",11.95,13
2019-04-24 10:38:00,176565,Macbook Pro Laptop,1,1700.00,"915 Willow St, San Francisco, CA 94016",1700.00,10
2019-04-27 18:41:00,176573,USB-C Charging Cable,1,11.95,"214 Chestnut St, San Francisco, CA 94016",11.95,18
2019-04-24 20:39:00,176584,Flatscreen TV,1,300.00,"936 Church St, San Francisco, CA 94016",300.00,20
2019-04-10 17:00:00,176586,AAA Batteries (4-pack),2,2.99,"365 Center St, San Francisco, CA 94016",5.98,17

In [53]:
# Producto más comprado en San Francisco, CA
productos_san_francisco.groupby('Product')['Quantity Ordered'].sum().idxmax()

'AAA Batteries (4-pack)'

<div class="alert alert-success">
    
11. Escribir una conclusión del ejercicio (ventajas de usar pandas, herramientas mas utilizadas en este ejercicio, etc). 
    
</div>

Durante el desarrollo de estos ejercicios pude comprender de mejor forma como funciona cada una de las funciones vistas en clases, ademas, en cuanto a las ventajas que ofrece la librería pandas, es que permite que todo lo que se pudiera hacer empleando varias lineas de código, se puedan realizar con una sola línea, en otras palabras, facilita mucho los analisis de datos y permite que el código sea más compacto.  
Conforme más herramientas o funciones aprendo en clases, me he dado cuenta que en tareas previas, las puedo hacer de una manera mas sencilla, por ejemplo, en el caso de la funciones de agrupación, antes de conocer estas funciones, lo que haría es usar ciclos for, y posiblemente me quedaría con un codigo robusto, pero gracias a la funciones de agrupacion que ofrece pandas esto se logra de manera sencilla, lo que facilita resumir y analizar grandes conjuntos de datos.  
En cuanto a las funciones temporales creo que facilitan mucho la manipulación de fechas y horas, debido a que permite que trabajemos con fechas y podamos filtrar, indexar o agrupar segun dias, semanas, meses, años, horas, etcétera, lo cual permite que podamos realizar análisis en series de tiempo.