In [25]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [26]:
df = pd.read_csv('200419COVID19MEXICO.csv')
df

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI
0,2020-04-19,09e8dc,2,9,15,1,15,15,37.0,2,...,2,2,2,2,2,1,99,99,97,1
1,2020-04-19,1dd782,2,12,9,1,15,9,3.0,1,...,2,1,2,2,2,2,99,99,97,97
2,2020-04-19,0efbaf,2,9,28,2,16,28,32.0,1,...,2,2,2,2,1,1,99,99,97,97
3,2020-04-19,0e8ab4,2,12,9,2,99,9,13.0,1,...,2,2,2,2,1,3,99,99,97,97
4,2020-04-19,013a6c,1,3,15,2,15,15,106.0,1,...,2,1,2,2,1,3,99,99,97,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49565,2020-04-19,04da81,2,12,21,1,21,21,119.0,1,...,2,2,2,2,2,1,99,México,97,97
49566,2020-04-19,0cc924,1,4,30,1,20,30,39.0,1,...,2,2,2,2,99,2,99,México,97,97
49567,2020-04-19,145db8,1,4,30,2,30,30,26.0,1,...,2,2,2,2,99,2,99,México,97,97
49568,2020-04-19,17eb11,1,12,21,1,21,21,3.0,1,...,2,2,2,2,2,2,99,99,97,97
49569,2020-04-19,02242c,2,12,24,1,99,24,28.0,1,...,2,2,2,2,1,2,99,México,97,97

In [27]:
df.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [28]:
# Encontrar número de pacientes mujeres mayores de 50 años de nacionalidad MEXICANA
len(df[(df['SEXO'] == 1) & (df['EDAD'] > 50) & (df['NACIONALIDAD'] == 1)])

6371

In [29]:
# Porcentaje de mujeres embarazadas
print(f'''{round((len(df[(df['EMBARAZO'] == 1)])/len(df[(df['SEXO'] == 1)]))*100, 2)}%''')

2.13%

In [30]:
# Numero de personas que fueron intubados, tienen tabaquismo y son mayores a 60 años
len(df[(df['INTUBADO'] == 1) & (df['TABAQUISMO'] == 1) & (df['EDAD'] > 60)])

57

In [33]:
# ordenar por nacionalidad
def etiqueta_nacionalidad(nacionalidad):
    if nacionalidad == 1:
        return 'MEXICANA'
    elif nacionalidad == 2:
        return 'EXTRANJERA'
    elif nacionalidad == 99:
        return 'NO ESPECIFICADO'
    
df['NACIONALIDAD_ETIQUETA']= df['NACIONALIDAD'].apply(etiqueta_nacionalidad)
df.sort_values(['NACIONALIDAD_ETIQUETA', 'PAIS_NACIONALIDAD'])

,FECHA_ACTUALIZACION,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,...,OBESIDAD,RENAL_CRONICA,TABAQUISMO,OTRO_CASO,RESULTADO,MIGRANTE,PAIS_NACIONALIDAD,PAIS_ORIGEN,UCI,NACIONALIDAD_ETIQUETA
5051,2020-04-19,1e1173,2,12,25,1,99,25,12.0,1,...,2,2,2,2,2,99,Alemania,97,97,EXTRANJERA
5191,2020-04-19,0a2887,2,12,2,1,99,2,4.0,2,...,2,2,2,2,2,99,Alemania,97,2,EXTRANJERA
7006,2020-04-19,179317,1,9,9,2,99,23,5.0,2,...,2,2,2,2,2,99,Alemania,97,1,EXTRANJERA
8603,2020-04-19,02b87e,2,4,14,1,99,14,39.0,1,...,2,2,2,99,2,99,Alemania,97,97,EXTRANJERA
8605,2020-04-19,08302a,2,9,6,2,99,6,2.0,1,...,2,2,2,2,1,1,Alemania,Alemania,97,EXTRANJERA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49564,2020-04-19,1b54e0,1,12,19,2,19,19,6.0,1,...,2,2,2,2,2,99,México,97,97,MEXICANA
49565,2020-04-19,04da81,2,12,21,1,21,21,119.0,1,...,2,2,2,2,1,99,México,97,97,MEXICANA
49566,2020-04-19,0cc924,1,4,30,1,20,30,39.0,1,...,2,2,2,99,2,99,México,97,97,MEXICANA
49567,2020-04-19,145db8,1,4,30,2,30,30,26.0,1,...,2,2,2,99,2,99,México,97,97,MEXICANA
49569,2020-04-19,02242c,2,12,24,1,99,24,28.0,1,...,2,2,2,1,2,99,México,97,97,MEXICANA

In [39]:
# Encontrar la media de edad
df['EDAD'].describe()

count    49570.000000
mean        40.943635
std         17.447954
min          0.000000
25%         29.000000
50%         39.000000
75%         52.000000
max        120.000000
Name: EDAD, dtype: float64

In [43]:
df.groupby('PAIS_NACIONALIDAD')['EDAD'].mean().head(10).reset_index()

          PAIS_NACIONALIDAD       EDAD
0                        99  41.916848
1                  Alemania  37.692308
2  Archipiélago de Svalbard  44.000000
3                   Argelia  28.000000
4                 Argentina  41.820513
5                 Ascensión  79.000000
6                 Australia  58.666667
7                   Austria  27.000000
8                    Belice  31.000000
9                   Bolivia  46.500000