<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas y GLOB  </h1></center>

<center><h2 style="font-size:2em;color:#840700">   Manipulación de archivos con GLOB </h4></center>

<br>
<table>
<col width="250">
<col width="750">
<tr>
<td><img src="figuras/glob.png" align="left" style="width:150px"/></td>
<td>

La función **glob.glob()** devuelve una lista con las entradas que coincidan con el patrón especificado en *pathname*.

**glob.glob( *pathname* , recursive=False)** 
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1: Marcos Alonso Kú Maás

Nombre 2:

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

## Mostrando todos los archivos de "/datos"

La salida serán los archivos en forma de lista

In [2]:
# establecer ruta de búsqueda  
path = 'datos'
files = glob.glob(path + '/*')
files

['datos\\informacion.txt',
 'datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv',
 'datos\\semestres.txt',
 'datos\\Ventas']

## Mostrando  los archivos  **.txt** de "/datos"

La salida serán los archivos .txt en forma de lista

In [3]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos txt  
path = 'datos'
files = glob.glob(path + '/*.txt')
files

['datos\\informacion.txt', 'datos\\semestres.txt']

## Mostrando  los archivos .csv de "/datos"

La salida serán los archivos .csv en forma de lista

In [4]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
files

['datos\\semestre1a.csv',
 'datos\\semestre1b.csv',
 'datos\\semestre1c.csv',
 'datos\\semestre2a.csv',
 'datos\\semestre2b.csv',
 'datos\\semestre2c.csv',
 'datos\\semestre3a.csv',
 'datos\\semestre3b.csv',
 'datos\\semestre3c.csv']

## Concatenando todos los archivos .csv para formar un dataframe

In [5]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()
print('final', df.shape)

# concatenación

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv', 'datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv', 'datos\\semestre3c.csv']
(10, 5)
(11, 5)
(11, 5)
(7, 5)
(7, 5)
(7, 5)
(5, 5)
(6, 5)
(5, 5)
final (69, 5)

## Concatenando los archivos .csv del primer semestre 

El comodín * representa desde nada, hasta cualquier cantidad de caracteres y dígitos

In [6]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()
print('final', df.shape)


# concatenación

(10, 5)
(11, 5)
(11, 5)
final (32, 5)

## Concatenando los archivos .csv del primer y segundo semestre 

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [7]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre[1-2]?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()
print('final', df.shape)
# concatenación

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv', 'datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv']
(10, 5)
(11, 5)
(11, 5)
(7, 5)
(7, 5)
(7, 5)
final (53, 5)

## Concatenando los archivos .csv de los grupos "a"
El comodín **?** Representa un único carácter.

In [8]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?a.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()
print('final', df.shape)

['datos\\semestre1a.csv', 'datos\\semestre2a.csv', 'datos\\semestre3a.csv']
(10, 5)
(7, 5)
(5, 5)
final (22, 5)

## Concatenando los archivos .csv de los grupos "a" y "b"

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [9]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?[a-b].csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()
print('final', df.shape)
# concatenación

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv']
(10, 5)
(11, 5)
(7, 5)
(7, 5)
(5, 5)
(6, 5)
final (46, 5)

# TAREA

<div class="alert alert-success">
<b>EJERCICIO 1: Concatenar todos los archivos  .csv  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>  
  <li> d) El nombre que más se repite </li>  
  <li> e) El apellido que más se repite </li>       
     
</ul>
</div>

In [10]:
path = 'datos'
files = glob.glob(path + '/*.csv')
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df = pd.concat(lista_dfs, axis = 0)
df.head()

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  ENRIQUE     MORENO            40   RENOVABLES  MERIDA
1   AMPARO  CABALLERO            63   RENOVABLES  MERIDA
2    MARTA      BALAM            94  MECATRONICA  MERIDA
3    JULIA      ORTIZ            86   RENOVABLES    UMAN
4  PASCUAL        MAY            58       FISICA  MERIDA

In [11]:
# Encontrar el promedio y desviación estándar
print(f'''
----------------------------------
- Promedio {round(df['CALIFICACION'].mean(), 4)}
- Desviacion estandar: {round(df['CALIFICACION'].std(), 4)}
----------------------------------
''')

----------------------------------
- Promedio 81.7246
- Desviacion estandar: 18.7239
----------------------------------

In [12]:
# b) Datos del estudiante(s) con la calificación más alta
df[df['CALIFICACION'] == df['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
1   JUAN    BALAM           100  FISICA   MOTUL
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [13]:
# c) Datos del estudiante(s) con la calificación más baja
df[df['CALIFICACION'] == df['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

In [14]:
# d) El nombre que más se repite
nombre_mas_repeticiones = df['NOMBRE'].value_counts()
nombre_mas_repeticiones[nombre_mas_repeticiones == nombre_mas_repeticiones.max()]

PEDRO    4
MARIA    4
Name: NOMBRE, dtype: int64

In [15]:
# e) El apellido que más se repite
apellido_mas_repeticiones = df['APELLIDO'].value_counts()
apellido_mas_repeticiones[apellido_mas_repeticiones == apellido_mas_repeticiones.max()]

BALAM    4
MAY      4
Name: APELLIDO, dtype: int64

<div class="alert alert-success">
<b>EJERCICIO 2: Concatenar todos los archivos  .csv del primer semestre </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [16]:
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df_primer_semestre = pd.concat(lista_dfs, axis = 0)
df_primer_semestre.head()

['datos\\semestre1a.csv', 'datos\\semestre1b.csv', 'datos\\semestre1c.csv']

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  ENRIQUE     MORENO            40   RENOVABLES  MERIDA
1   AMPARO  CABALLERO            63   RENOVABLES  MERIDA
2    MARTA      BALAM            94  MECATRONICA  MERIDA
3    JULIA      ORTIZ            86   RENOVABLES    UMAN
4  PASCUAL        MAY            58       FISICA  MERIDA

In [17]:
# a) Encontrar el promedio y desviación estándar
print(f'''
----------------------------------
- Promedio {round(df_primer_semestre['CALIFICACION'].mean(), 4)}
- Desviacion estandar: {round(df_primer_semestre['CALIFICACION'].std(), 4)}
----------------------------------
''')

----------------------------------
- Promedio 78.3438
- Desviacion estandar: 20.0557
----------------------------------

In [18]:
# b) Datos del estudiante(s) con la calificación más alta
df_primer_semestre[df_primer_semestre['CALIFICACION'] == df_primer_semestre['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA CIUDAD
1   JUAN    BALAM           100  FISICA  MOTUL

In [19]:
# c) Datos del estudiante(s) con la calificación más baja
df_primer_semestre[df_primer_semestre['CALIFICACION'] == df_primer_semestre['CALIFICACION'].min()]

   NOMBRE APELLIDO  CALIFICACION     CARRERA  CIUDAD
5  MANUEL  RODENAS            12  RENOVABLES  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 3: Concatenar todos los archivos .csv de los grupos "c", es decir semestre1c, semestre2c y semestre3c </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [20]:
path = 'datos'
files = glob.glob(path + '/semestre?c.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df_grupos_c = pd.concat(lista_dfs, axis = 0)
df_grupos_c.head()

['datos\\semestre1c.csv', 'datos\\semestre2c.csv', 'datos\\semestre3c.csv']

    NOMBRE  APELLIDO  CALIFICACION      CARRERA  CIUDAD
0   ISMAEL    LOZANO            98  MECATRONICA  MERIDA
1    ROCIO  BLAZQUEZ            82   RENOVABLES  MERIDA
2     ROSA     TEBAR            75  MECATRONICA  MERIDA
3  MANUELA    ORTEGA            95  MECATRONICA  MERIDA
4    MARIA  MARTINEZ            95       FISICA  MERIDA

In [21]:
# a) Encontrar el promedio y desviación estándar
print(f'''
----------------------------------
- Promedio {round(df_grupos_c['CALIFICACION'].mean(), 4)}
- Desviacion estandar: {round(df_grupos_c['CALIFICACION'].std(), 4)}
----------------------------------
''')

----------------------------------
- Promedio 84.087
- Desviacion estandar: 20.677
----------------------------------

In [22]:
# b) Datos del estudiante(s) con la calificación más alta
df_grupos_c[df_grupos_c['CALIFICACION'] == df_grupos_c['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [23]:
# c) Datos del estudiante(s) con la calificación más baja
df_grupos_c[df_grupos_c['CALIFICACION'] == df_grupos_c['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 4: Concatenar todos los archivos .csv de los semestres 2 y 3  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [24]:
path = 'datos'
files = glob.glob(path + '/semestre[2-3]?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs = []
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df_semestres_2_3 = pd.concat(lista_dfs, axis = 0)
df_semestres_2_3.head()

['datos\\semestre2a.csv', 'datos\\semestre2b.csv', 'datos\\semestre2c.csv', 'datos\\semestre3a.csv', 'datos\\semestre3b.csv', 'datos\\semestre3c.csv']

     NOMBRE  APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  CONSUELO      PECH            83   RENOVABLES  MERIDA
1     ELENA  CASTILLO            73  MECATRONICA  MERIDA
2    JAVIER     PEREZ            57   RENOVABLES  MERIDA
3   ANGELES      DIAZ            80  MECATRONICA  MERIDA
4     MARIO   RAMIREZ            89       FISICA  MERIDA

In [25]:
# a) Encontrar el promedio y desviación estándar
print(f'''
----------------------------------
- Promedio {round(df_semestres_2_3['CALIFICACION'].mean(), 4)}
- Desviacion estandar: {round(df_semestres_2_3['CALIFICACION'].std(), 4)}
----------------------------------
''')

----------------------------------
- Promedio 84.6486
- Desviacion estandar: 17.2308
----------------------------------

In [26]:
# b) Datos del estudiante(s) con la calificación más alta
df_semestres_2_3[df_semestres_2_3['CALIFICACION'] == df_semestres_2_3['CALIFICACION'].max()]

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
2   RICK  SANCHEZ           100  FISICA  MERIDA

In [27]:
# c) Datos del estudiante(s) con la calificación más baja
df_semestres_2_3[df_semestres_2_3['CALIFICACION'] == df_semestres_2_3['CALIFICACION'].min()]

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
6  VICENTE  CABALLERO             8  MECATRONICA  MERIDA