<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas -Parte 1  </h1></center>

<center><h2 style="font-size:2em;color:#840700">  Pandas - Series y DataFrames  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/WesM.png" align="left" style="width:500px"/></td>
<td>

* **Wes McKinney**, empezó a desarrollar Pandas en el año 2008 mientras trabajaba en *AQR Capital* [https://www.aqr.com/] por la necesidad que tenía de una herramienta flexible de alto rendimiento para realizar análisis cuantitativos en datos financieros. 
* Antes de dejar AQR convenció a la administración de la empresa de distribuir esta biblioteca bajo licencia de código abierto.
* **Pandas** es un acrónimo de **PANel DAta analysiS**
   
    
<br>
</td>
</tr>
</table>

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Introduccion

* Pandas es un paquete de Python que proporciona estructuras de datos rápidas, flexibles y expresivas diseñadas para hacer que el trabajo con datos "relacionales" o "etiquetados" sea fácil e intuitivo. 
* Pretende ser el elemento fundamental de alto nivel para realizar análisis de datos prácticos y del mundo real en Python.
* La documentación oficial de Pandas se puede encontrar en el siguiente link https://pandas.pydata.org/pandas-docs/stable/


<img align="left" width=60% src="figuras/pandas2.jpeg">

Características principales de uso:
* Ingestión de datos (Data ingestion)
* Estadística descriptiva
* Limpieza de datos
* Visualización
* Transformación de datos
* Combinando DataFrames
* Manejo datos utilizando una variable temporal

# Estructuras de datos en Pandas : Series y DataFrames

Pandas proporciona dos tipos de datos fundamentales, para 1D (**Series**) y datos 2D (**DataFrame**).


<img align="left" width=75% src="figuras/SeriesYDataFrame.png">

<img align="left" width=60% src="figuras/DataFrame.png">

En el nivel más básico, los objetos Pandas se pueden considerar como versiones mejoradas de matrices estructuradas NumPy en las que las filas y columnas se identifican con etiquetas en lugar de índices enteros simples. Como veremos durante el transcurso de esta unidad, Pandas proporciona una serie de herramientas, métodos y funcionalidades útiles además de las estructuras de datos básicas. Por lo tanto, introduzcamos estas tres estructuras de datos fundamentales de Pandas: **Series** y **DataFrames**.

# Las Series
Las **Series** de Pandas son un arreglos unidimensionales de datos indexados. Se pueden crear a partir de una lista o arreglo de la siguiente manera:

In [2]:
 #Ejemplo
data = pd.Series( [ 9, 0.25, 1 , 1.5 , 3, 8.9 ])    
print(data)

0    9.00
1    0.25
2    1.00
3    1.50
4    3.00
5    8.90
dtype: float64

Como vemos en la salida anterior, la **Serie** envuelve cuenta con una secuencia de ``índices`` como  de ``valores``. Los ``valores`` son simplemente un arreglo de NumPy

In [3]:
#Valores
data.values

array([9.  , 0.25, 1.  , 1.5 , 3.  , 8.9 ])

Y para conocer la secuencia de los ``índices`` podemos usar:

In [4]:
#Indices
data.index

RangeIndex(start=0, stop=6, step=1)

Al igual que con un arreglo de NumPy, se puede acceder a los datos mediante el índice asociado a través de la conocida notación de corchetes de Python:

In [5]:
data[0]

9.0

## Las Series:  arreglos generalizados de NumPy

Por lo que hemos visto hasta ahora, puede parecer que las **Series** son básicamente intercambiables con arreglos unidimensionales de NumPy. La diferencia esencial es la presencia de los índices: mientras que los arreglos de Numpy tienen un índice entero definido implícitamente que se utiliza para acceder a los valores (índices asociados a la posición), las Series de Pandas tiene índices definidos explícitamente asociados con los valores. Esta definición de índice explícita le da a las Series características  adicionales. 

Por ejemplo, no es necesario que el índice sea un número entero.

In [6]:
data=pd.Series([9,0.25,1,1.5,3,8.9], index=['a','b','c','d','e','f'])
print(data)

a    9.00
b    0.25
c    1.00
d    1.50
e    3.00
f    8.90
dtype: float64

Y el acceso a cada elemento funciona con su respectivo índice:

In [7]:
 data['d']

1.5

Incluso podemos utilizar índices no contiguos o no secuenciales:

In [8]:
# data = pd.Series( [ 9, 0.25, 1 , 1.5 , 3, 8.9 ], 
#                  index=[1,2,3,4,5]
#                  )    
# print(data)

## Las Series y  diccionarios de Python

Se puede considerar que una **Serie** es similar a un diccionario ordenado que asigna un valor a una etiqueta, de hecho, es posible construir una serie directamente desde un diccionario de Python:

In [9]:
poblacion_diccionario = {'California': 38.3,
                   'Texas': 26.4,
                   'New York': 19.6,
                   'Florida': 19.5,
                   'Illinois': 12.8,
                   'Washington': 17.5,     
                             }

# Crar la Serie llamada poblacion
poblacion = pd.Series( poblacion_diccionario)
print(poblacion)

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
dtype: float64

De forma predeterminada, se creará una **Serie** donde el índice se extrae de las etiquetas ordenadas y se puede realizar el acceso típico a elementos al estilo de un diccionario de Python:

In [10]:
 poblacion['California']

38.3

Sin embargo, a diferencia de un diccionario, las **Series** también admiten operaciones de segmentación:

In [11]:
  poblacion['California':'Florida']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
dtype: float64

Discutiremos algunas de las peculiaridades de la indexación y segmentación de Pandas en las siguientes lecciones.

# DataFrames

La siguiente estructura fundamental en Pandas es el **DataFrame**. Al igual que las **Series** presentadas en la sección anterior, los  **DataFrame** se pueden considerar como una generalización de arreglos de NumPy o como   diccionarios especializados de Python.

## DataFrame como un arreglo generalizado de NumPy


Si una **Serie** es un análogo de un arreglo unidimensional con índices flexibles, un **DataFrame** es un análogo de un arreglo bidimensional con índices de filas flexibles y nombres de columnas flexibles.
Así como podría pensar en un arreglo bidimensional como una secuencia ordenada de columnas unidimensionales alineadas, se puede pensar en un **DataFrame** como una secuencia de objetos alineados de **Serie**,  por *alineados* queremos decir que comparten el mismo índice.

Para demostrar esto, construyamos primero una nueva **Serie** que enumere el área de cada uno de los  estados mostrados en la sección anterior:

In [12]:
area_diccionario = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995,'Washington': 289990}
#Crear la serie llamada area
area = pd.Series(area_diccionario)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
dtype: int64

Ahora que tenemos esto junto con la serie de población de anterior, podemos usar un diccionario para construir un único objeto bidimensional que contenga esta información:

In [13]:
#Crear la serie llamada estados
estados = pd.DataFrame({'etiqueta_poblacion':poblacion,
                       'etiqueta_area':area})
estados

            etiqueta_poblacion  etiqueta_area
California                38.3         423967
Texas                     26.4         695662
New York                  19.6         141297
Florida                   19.5         170312
Illinois                  12.8         149995
Washington                17.5         289990

Como en las **Series**, el **DataFrame** tiene un atributo de ``index`` que da acceso a las etiquetas del índice:

In [14]:
#indices
estados.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois', 'Washington'], dtype='object')

Además, el **DataFrame** tiene un atributo ``columns``  que contiene las etiquetas de las columnas:

In [15]:
#Columnas
estados.columns

Index(['etiqueta_poblacion', 'etiqueta_area'], dtype='object')

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame como un diccionario especializado

Se puede  pensar en un **DataFrame** como una diccionario especializado, ya que un **DataFrame** además asigna un nombre a cada columna. Por ejemplo, al pedir el 'area' obtendremos los elementos de la columna 'area':

In [16]:
# area
estados['etiqueta_area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Washington    289990
Name: etiqueta_area, dtype: int64

De igual manera para la columna 'poblacion'

In [17]:
#Población
estados['etiqueta_poblacion']

California    38.3
Texas         26.4
New York      19.6
Florida       19.5
Illinois      12.8
Washington    17.5
Name: etiqueta_poblacion, dtype: float64

### Construyendo DataFrames

Un **DataFrame** de Pandas se puede construir de varias formas utilizando la función ``DataFrame``. Aquí daremos varios ejemplos.

#### a) Utilizando una Serie

Un **DataFrame** es una colección de **Series**, y un **DataFrame** de una sola columna se puede construir a partir de una sola **Serie**:

In [18]:
pd.DataFrame(poblacion, columns = ['Poblacion en millones'])

            Poblacion en millones
California                   38.3
Texas                        26.4
New York                     19.6
Florida                      19.5
Illinois                     12.8
Washington                   17.5

#### b) Lista de diccionarios


Un conjunto de diccionarios se pueden convertir en un **DataFrame**.

In [19]:
diccionario = {'a':{'x':1, 'y':2, 'z':3},
              'b':{'x':11, 'y':12, 'z':13}}
pd.DataFrame(diccionario)

   a   b
x  1  11
y  2  12
z  3  13


Incluso si faltan algunos elementos en los diccionarios, Pandas las completará con valores ``NaN`` (es decir, "not a number"):

In [20]:
diccionario = {'a':{'x':1, 'y':2, 'z':3, 'm':5},
              'b':{'x':11, 'y':12, 'z':13, 'n':10}}
pd.DataFrame(diccionario)

     a     b
x  1.0  11.0
y  2.0  12.0
z  3.0  13.0
m  5.0   NaN
n  NaN  10.0

#### c) Desde un arreglo bidimensional de  NumPy 

Dada un arreglo bidimensional de datos, podemos crear un **DataFrame** con cualquier columna e índice especificado. Si se omite, se utilizará un índice entero para cada uno

In [21]:
# np.random.rand(3, 2)
arreglo2D = np.random.rand(3, 2)
arreglo2D

array([[0.31299265, 0.10531886],
       [0.18901961, 0.39169906],
       [0.00536338, 0.58028798]])

In [22]:
# Cuando se especifican los índices de filas y columnas
pd.DataFrame(arreglo2D, columns=['A', 'B'], index = ['X', 'Y', 'Z'])

          A         B
X  0.312993  0.105319
Y  0.189020  0.391699
Z  0.005363  0.580288

In [23]:
# Cuando se especifican los índices solo en columnas
pd.DataFrame(arreglo2D, columns=['A', 'B'])

          A         B
0  0.312993  0.105319
1  0.189020  0.391699
2  0.005363  0.580288

In [24]:
# Cuando no se especifican los índices 
pd.DataFrame(arreglo2D)

          0         1
0  0.312993  0.105319
1  0.189020  0.391699
2  0.005363  0.580288

Para manejar de una manera eficiente los **DataFrame** se recomienda siempre asignar nombres a las columnas

#### d)  Combinando  Series

Como vimos antes, un **DataFrame** también se puede construir a partir de **Series**

In [25]:
# poblacion + area
pd.DataFrame({'e_poblacion':poblacion, 'e_area':area})

            e_poblacion  e_area
California         38.3  423967
Texas              26.4  695662
New York           19.6  141297
Florida            19.5  170312
Illinois           12.8  149995
Washington         17.5  289990

#####  Ejemplo de un DataFrame a partir de Series y Series a partir de diccionarios

Definiremos un DataFrame utilizando 5 diferentes Series, y las Series a partir de Diccionarios utilizando información de Pokémon. Consideraremos 2 variables cuantitativas (altura y peso ) y 3 cualitativas (categoría, tipo y debilidad)

[https://www.lavanguardia.com/tecnologia/20160907/403442078796/todos-pokemon.html]

<img align="left" width=75% src="figuras/pokemones.png">

**1. Diccionarios**

In [26]:
bulbasaur_diccionario = {'Altura': 0.7, 'Peso': 6.9, 'Categoría': 'Semilla',
             'Tipo': 'Planta', 'Debilidad':  'Hielo y fuego'}
bulbasaur = pd.Series(bulbasaur_diccionario)
bulbasaur

Altura                 0.7
Peso                   6.9
Categoría          Semilla
Tipo                Planta
Debilidad    Hielo y fuego
dtype: object

In [27]:
charmander_diccionario = {'Altura': 0.6, 'Peso': 8.5, 'Categoría': 'Lagartija',
             'Tipo': 'Fuego', 'Debilidad':  'Tierra y agua'}
charmander = pd.Series(charmander_diccionario)
charmander

Altura                 0.6
Peso                   8.5
Categoría        Lagartija
Tipo                 Fuego
Debilidad    Tierra y agua
dtype: object

In [28]:
squirtle_diccionario = {'Altura': 0.5, 'Peso': 9.0, 'Categoría': 'Tortuga',
              'Debilidad':  'Electricidad'}
squirtle = pd.Series(squirtle_diccionario)
squirtle

Altura                0.5
Peso                  9.0
Categoría         Tortuga
Debilidad    Electricidad
dtype: object

In [29]:
caterpie_diccionario = {'Altura': 0.3, 'Peso': 2.9, 'Categoría': 'Gusano',
             'Tipo':  'Bicho'}
caterpie = pd.Series(caterpie_diccionario)
caterpie

Altura          0.3
Peso            2.9
Categoría    Gusano
Tipo          Bicho
dtype: object

In [30]:
pidgey_diccionario = {'Altura': 0.3, 'Peso': 1.8, 'Debilidad':  'Hielo'}
pidgey = pd.Series(pidgey_diccionario)
pidgey

Altura         0.3
Peso           1.8
Debilidad    Hielo
dtype: object

**2. Series**

In [31]:
df_pokemones= pd.DataFrame({'Bulbasaur':bulbasaur,
              'Charmander': charmander, 
              'Squirtle': squirtle, 
              'Caterpie': caterpie, 
              'Pidgey': pidgey,               
             })
df_pokemones

               Bulbasaur     Charmander      Squirtle Caterpie Pidgey
Altura               0.7            0.6           0.5      0.3    0.3
Categoría        Semilla      Lagartija       Tortuga   Gusano    NaN
Debilidad  Hielo y fuego  Tierra y agua  Electricidad      NaN  Hielo
Peso                 6.9            8.5           9.0      2.9    1.8
Tipo              Planta          Fuego           NaN    Bicho    NaN

# Ejercicio

<div class="alert alert-success">

**Creación de un DataFrame con series y diccionarios**
    
1. Definir un DataFrame a partir de 5 series y cada Serie a partir de un diccionario (de algún mismo tópico), considerando  6 características diferentes y combinando tipos de variables (cuantitativas y cualitativas), también puede omitir algunos valores. 
</div>

Ejemplo:


``` python
Alan = pd.Series({'Edad': 20 ,
                  'Altura': 1.70,
                  'Peso': 68,
                  'Estado': 'Yucatán',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Derecho'})
María = pd.Series({'Edad': 21 ,
                   'Altura': 1.80,
                   'Peso': 80,
                   'Color favorito':'Rojo',
                   'Licenciatura': 'Ingeniería'})
Pedro = pd.Series({'Edad': 23 ,
                   'Altura': 1.67,
                   'Peso': 75,
                   'Estado': 'Aguascalientes',
                   'Color favorito':'Morado',
                   'Licenciatura': 'Artes'})
Esmeralda = pd.Series({'Edad': 25 ,
                       'Altura': 1.72,
                       'Peso': 60,
                       'Estado': 'Campeche',
                       'Licenciatura': 'Turismo'})
Karen = pd.Series({'Edad': 25 ,
                  'Altura': 1.74,
                  'Peso': 69,
                  'Estado': '',
                  'Color favorito':'Azul',
                  'Licenciatura': 'Psicología'})

df_alumnos = pd.DataFrame({'Alan':Alan,
                           'María': María, 
                           'Pedro': Pedro, 
                           'Esmeralda': Esmeralda, 
                           'Karen': Karen
                           })
df_alumnos

>>

                   Alan       María           Pedro Esmeralda       Karen
Altura              1.7         1.8            1.67      1.72        1.74
Color favorito     Azul        Rojo          Morado       NaN        Azul
Edad                 20          21              23        25          25
Estado          Yucatán         NaN  Aguascalientes  Campeche            
Licenciatura    Derecho  Ingeniería           Artes   Turismo  Psicología
Peso                 68          80              75        60          69


```

In [41]:
# Animales
# Razas de perros
kai_ken = pd.Series({
    'Actividad física recomendada': 'Alta',
    'Origen': 'Japón',
    'Tamaño': 'Mediano',
    'Altura (cm)': '45-55',
    'Esperanza de vida (años)': '12-14',
    'Nivel de adiestramiento': 'Alto'
})

sabueso_polaco = pd.Series({
    'Actividad física recomendada': 'Alta',
    'Origen': 'Polonia',
    'Tamaño': 'Grande',
    'Altura (cm)': '55-70',
    'Esperanza de vida (años)': '12-14',
    'Nivel de adiestramiento': 'Alto'
})

sabueso_esp = pd.Series({
    'Actividad física recomendada': 'Alta',
    'Origen': 'España',
    'Tamaño': 'Mediano',
    'Altura (cm)': '45-55',
    'Esperanza de vida (años)': '10-12',
    'Nivel de adiestramiento': 'Alto'
})

alaskan_klee_kai = pd.Series({
    'Actividad física recomendada': 'Alta',
    'Origen': 'Estados Unidos',
    'Tamaño': 'Pequeño',
    'Altura (cm)': '35-45',
    'Esperanza de vida (años)': '12-14',
    'Nivel de adiestramiento': 'Bajo'
})

chihuahua = pd.Series({
    'Actividad física recomendada': 'Media',
    'Origen': 'México',
    'Tamaño': 'Toy',
    'Altura (cm)': '15-35',
    'Esperanza de vida (años)': '15-20',
})

df_razas_perros = pd.DataFrame({'Kai Ken':kai_ken,
                           'Sabueso Polaco': sabueso_polaco, 
                           'Sabueso Español': sabueso_esp, 
                           'Alaskan klee kai': alaskan_klee_kai, 
                           'Chihuahueño': chihuahua
                           })
df_razas_perros

,Kai Ken,Sabueso Polaco,Sabueso Español,Alaskan klee kai,Chihuahueño
Actividad física recomendada,Alta,Alta,Alta,Alta,Media
Altura (cm),45-55,55-70,45-55,35-45,15-35
Esperanza de vida (años),12-14,12-14,10-12,12-14,15-20
Nivel de adiestramiento,Alto,Alto,Alto,Bajo,NaN
Origen,Japón,Polonia,España,Estados Unidos,México
Tamaño,Mediano,Grande,Mediano,Pequeño,Toy

<div class="alert alert-success">
    
**Creación de un DataFrame vacío**
    
2. Definir un DataFrame que contenga un listado de 5 datos de 10 personas (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df['first_name'] = ['Josy', 'Vaughn', 'Neale', 'Teirtza']
df['last_name'] = ['Clarae', 'Halegarth', 'Georgievski', 'Teirtza']
df['gender'] = ['Female', 'Male', 'Male', 'Female']
print(df)


  first_name    last_name  gender
0       Josy       Clarae  Female
1     Vaughn    Halegarth    Male
2      Neale  Georgievski    Male
3    Teirtza      Teirtza  Female

```

In [43]:
df = pd.DataFrame()
df['Nombres'] = ['Marcos Alonso', 'Pedro Andrade', 'Maria Valentina', 'Ana Carmen', 'Camille Florence',
                'Louis Ethan', 'Miguel Ángel', 'Monica Guadalupe', 'Antonio Sergio', 'Rafael Pablo']
df['Apellidos'] = ['Kú Maás', 'Canul Chi', 'Bacab Mo', 'Rodriguez Martínez', 'Lefebvre Muller',
                  'Andre Legrand', 'Gómez González', 'Xool Bacab', 'Ek Balam', 'Ortiz Sanguino']
df['Edad'] = [24, 35, 19, 40, 25, 32, 45, 20, 39, 22] 
df['Estado civil'] = ['Soltero (a)', 'Casado (a)', 'Soltero (a)', 'Casado (a)', 'Soltero (a)', 
                      'Soltero (a)', 'Casado (a)', 'Soltero (a)', 'Soltero', 'Soltero (a)']
df['Nacionalidad'] = ['Mexicana', 'Mexicana', 'Mexicana', 'Española', 'Francesa', 
                      'Francesa', 'Argentina', 'Mexicana', 'Mexicana', 'Mexicana']
print(df)

            Nombres           Apellidos  Edad Estado civil Nacionalidad
0     Marcos Alonso             Kú Maás    24  Soltero (a)     Mexicana
1     Pedro Andrade           Canul Chi    35   Casado (a)     Mexicana
2   Maria Valentina            Bacab Mo    19  Soltero (a)     Mexicana
3        Ana Carmen  Rodriguez Martínez    40   Casado (a)     Española
4  Camille Florence     Lefebvre Muller    25  Soltero (a)     Francesa
5       Louis Ethan       Andre Legrand    32  Soltero (a)     Francesa
6      Miguel Ángel      Gómez González    45   Casado (a)    Argentina
7  Monica Guadalupe          Xool Bacab    20  Soltero (a)     Mexicana
8    Antonio Sergio            Ek Balam    39      Soltero     Mexicana
9      Rafael Pablo      Ortiz Sanguino    22  Soltero (a)     Mexicana

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas**

3. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de automóviles (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'])
df = df.append({'first_name': 'Josy', 'last_name':'Clarae', 'gender':'Female'}, ignore_index=True)
df = df.append({'first_name': 'Vaughn', 'last_name':'Halegarth', 'gender':'Male'}, ignore_index=True)
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [47]:
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['Modelo', 'Precio', 'Color', 'Potencia'])
df = df.append({'Modelo': 'Nissan X-Trail', 'Precio': 689900, 'Color': 'Naranja', 'Potencia (HP)': 181}, ignore_index=True)
df = df.append({'Modelo': 'Nissan Pathfinder', 'Precio': 1144900, 'Color': 'Rojo', 'Potencia (HP)': 270}, ignore_index=True)
df = df.append({'Modelo': 'Nissan Z', 'Precio': 1355900, 'Color': 'Amarillo', 'Potencia (HP)': 400}, ignore_index=True)
df = df.append({'Modelo': 'Nissan Versa', 'Precio': 328900, 'Color': 'Plata', 'Potencia (HP)': 118}, ignore_index=True)
df = df.append({'Modelo': 'Nissan Sentra', 'Precio': 385900, 'Color': 'Naranja', 'Potencia (HP)': 145}, ignore_index=True)
df = df.append({'Modelo': 'Nissan Kicks e-POWER', 'Precio': 572900, 'Color': 'Blanco', 'Potencia (HP)': 134}, ignore_index=True)
print(df)

                 Modelo   Precio     Color Potencia  Potencia (HP)
0        Nissan X-Trail   689900   Naranja      NaN          181.0
1     Nissan Pathfinder  1144900      Rojo      NaN          270.0
2              Nissan Z  1355900  Amarillo      NaN          400.0
3          Nissan Versa   328900     Plata      NaN          118.0
4         Nissan Sentra   385900   Naranja      NaN          145.0
5  Nissan Kicks e-POWER   572900    Blanco      NaN          134.0

C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan X-Trail', 'Precio': 689900, 'Color': 'Naranja', 'Potencia (HP)': 181}, ignore_index=True)
C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan Pathfinder', 'Precio': 1144900, 'Color': 'Rojo', 'Potencia (HP)': 270}, ignore_index=True)
C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan Z', 'Precio': 1355900, 'Color': 'Amarillo', 'Potencia (HP)': 400}, ignore_index=True)
C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan Versa', 'Precio': 328900, 'Color': 'Plata', 'Potencia (HP)': 118}, ignore_index=True)
C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan Sentra', 'Precio': 385900, 'Color': 'Naranja', 'Potencia (HP)': 145}, ignore_index=True)
C:\Users\wz500\AppData\Local\Temp\ipykernel_9872\3272532600.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Modelo': 'Nissan Kicks e-POWER', 'Precio': 572900, 'Color': 'Blanco', 'Potencia (HP)': 134}, ignore_index=True)

<div class="alert alert-success">

**Creación de un DataFrame vacío con columnas e índices**

4. Definir un DataFrame que contenga un listado de 4 parámetros de 6 modelos de celulares (utilizar el método del siguiente ejemplo). 
</div>

Ejemplo:


``` python
import pandas as pd
df = pd.DataFrame()
df = pd.DataFrame(columns=['first_name', 'last_name', 'gender'],index=range(3))
df.iloc[0] = ['Josy', 'Clarae', 'Female']
df.iloc[1] = ['Vaughn', 'Halegarth', 'Male']
df.iloc[2] = ['Neale', 'Georgievski', 'Male']
print(df)


  first_name  last_name  gender
0       Josy     Clarae  Female
1     Vaughn  Halegarth    Male
```

In [50]:
df = pd.DataFrame()
df = pd.DataFrame(columns=['Marca', 'Modelo', 'Sistema operativo', 'Gama'],index=range(6))
df.iloc[0] = ['Motorola', 'MOTO G42 DUAL SIM', 'Android', 'Media']
df.iloc[1] = ['Samsung', 'GALAXY S22 ULTRA', 'Android', 'Alta']
df.iloc[2] = ['Apple', 'IPHONE 14 PRO', 'Ios', 'Alta']
df.iloc[3] = ['Alcatel', '3 5052A', 'Android', 'Media']
df.iloc[4] = ['Huawei', 'Y9A', 'Android', 'Baja']
df.iloc[5] = ['ZTE', 'BLADE V2020 SMART', 'Android', 'Media']
print(df)

      Marca             Modelo Sistema operativo   Gama
0  Motorola  MOTO G42 DUAL SIM           Android  Media
1   Samsung   GALAXY S22 ULTRA           Android   Alta
2     Apple      IPHONE 14 PRO               Ios   Alta
3   Alcatel            3 5052A           Android  Media
4    Huawei                Y9A           Android   Baja
5       ZTE  BLADE V2020 SMART           Android  Media